.sidebar {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
  color: #333;
}

.page {
  height: 100%;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.button-grid .squared-button {
  width: 200px;
  height: 200px;
  background: rgba( 25, 40, 63, 0.75 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12.5px );
  -webkit-backdrop-filter: blur( 12.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.button-grid .squared-button:hover {
  background: rgba(168, 168, 168, 0.9); /* Change the hover color here */
}
.button-icon {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  margin-bottom: 10px; /* Space between image and text */
  margin: 20x;
}