.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    
    
  }
  
  .cardBox .card {
   
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }


  
  .recentOrders {  
    min-height: 50px;
  }
  
 .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cardHeader h2 ,label{
    font-weight: 600;
    color: var(--blue);
  }
  .label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}
 /* Style form inputs */
 .input {
     width: 100%;
     padding: 10px;
     margin-bottom: 15px;
     border: 1px solid #ccc;
     border-radius: 3px;
 }

 /* Style the image container */
 .image-container {
     margin-bottom: 15px;
 }

 /* Style the image */
 img {
     max-width: 80px;
     border: 1px solid #ccc;
     border-radius: 5px;
 }

 /* Style the submit button */
 button[type="submit"] {
     background-color: #007bff;
     color: #fff;
     padding: 10px 20px;
     border: none;
     border-radius: 3px;
     cursor: pointer;
 }



 .form-control {
     width: 100%;
     /* Set the width as needed */
     padding: 10px;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 5px;
     background-color: #fff;
     color: #333;

 }

 /* Style the select element when focused */
 .form-control:focus {
     border-color: #007bff;
     outline: none;
 }

 #category, #user_role {
     margin-bottom: 20px;
 }

 /* Style the options */
 #category option {
     font-size: 14px;
     background-color: #fff;
     color: #333;
 }

 /* Style the options when hovered */
 #category option:hover {
     background-color: #007bff;
     color: #fff;
 }
  
  
  /* ================== recently List ============== */
  
  
  /* ====================== Responsive Design ========================== */
  @media (max-width: 991px) {
    .navigation {
      left: -300px;
    }
    .navigation.active {
      width: 300px;
      left: 0;
    }
    .main {
        width: 100%;
        left: 0;
      }

      .main {
        width: 100%;
        left: 0;
      }
      .main.active {
        left: 300px;
      }
   
  }
  
  @media (max-width: 768px) {
    .details {
      grid-template-columns: 1fr;
    }
    
  }
  
  @media (max-width: 480px) {
   
    .cardHeader h2 {
      font-size: 20px;
    }
   
  
    .user {
        min-width: 40px;
      }
      .navigation {
        width: 45%;
        left: -100%;
        z-index: 1000;
      }
      .navigation.active {
        width: 50%;
        left: 0;
      }
      .toggle {
        z-index: 10001;
      }
      .main.active .toggle {
        color: #0f0e0e;
        position: relative;
        right: 0;
        left: initial;
      }
    
   
  }
  